
.second {
    padding-top: 170px;
    max-width: 2560px;
    height: 100%;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.s {
    height: 100%;
    width: 67%;
    max-width: 1260px;
    background-color: rgb(255, 255, 255);
    margin: 0 auto;
}
.order {
    text-align: center;
    color: #000;
    font-family: 'Amatic SC';
    font-size: 50px;
    padding-top: 40px;
    transform: translate(0, 70%);
    transition: 0.4s;
    transition-delay: 0.2s;
    opacity: 0;
}
.order.activ {
    transform: translate(0, 0%);
    opacity: 1;
}
.do {
    text-align: right;
    color: black;
    font-size: 25px;
    padding-top: 30px;
    font-family: 'Amatic SC';
    transform: translate(100%, 0);
    transition: 0.4s;
    transition-delay: 0.4s;
    opacity: 0;
}
.do.activ {
    transform: translate(0, 0%);
    opacity: 1;
}
.s_keyboard{
    width: 100%;
    padding-bottom: 180px;
    transform: translate(0, 200px);
    transition: 0.8s;
    transition-delay: 0.6s;
    opacity: 0;
}

.s_keyboard.activ {
    transform: translate(0, 0%);
    opacity: 1;
}
.hh {
    width: 100vw;
    height: 2000px;
}
@media (max-width: 1024px) and (orientation: portrait) {
    .s {
        width: 79%;
    }
}
@media (max-width: 767px) and (orientation: portrait) {
    .second {
        padding-top: 100px;
    }
    .s {
        width: 100%;
    }
    .order {
        font-size: 48px;
    }
    .do {
        font-size: 25px;
        text-align: center;
    }
    .s_keyboard {
        transform: translate(0, 30%);
        transition-delay: 0.30s;
    }
}